@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* || VARIABLES */
:root {
  --header-height: 75px;

  /* || COLORS */
  --prim-pink: #ff0043;
  --text--black: #222222;
  --text-grey: #555555;
  --text-offwhite: #b2b2b2;
  --border-color: #e2e2e2;

  /* || Typography */
  --font-family: "Poppins", sans-serif;
  --h1-font-size: 34px;
  --h2-font-size: 30px;
  --h3-font-size: 26px;
  --regular-font-size: 1rem;
  --buttons-font-size: 0.9rem;
}

/* || RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
img {
  display: block;
}

/* ||UTILITY CLASSES */
.color-white {
  color: white;
  fill: white;
}
.color-textBlack {
  color: var(--text--black);
}
.color-primary {
  color: var(--prim-pink);
  fill: var(--prim-pink);
}
.color-textOffwhite {
  color: var(--text-offwhite);
  fill: var(--text-offwhite);
}
.color-textGrey {
  color: var(--text-grey);
}
.bg-white {
  background-color: white;
}
.bg-primary {
  background-color: var(--prim-pink);
}
.bg-grey {
  background-color: var(--bg-grey);
}
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.fw-normal {
  font-weight: 400;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.text-center {
  text-align: center;
}
.disp-inlineBlock {
  display: inline-block;
}
.px-2r {
  padding-left: 2rem;
  padding-right: 2rem;
}
.pb-xs {
  padding-bottom: 0.5rem;
}
.my-1r {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* ||General Styling */
html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height);
}
body {
  font-family: var(--font-family);
  font-size: var(--regular-font-size);
}

p {
  line-height: 1.75;
}
.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}
.section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.section > div > *:not(:last-child) {
  margin-bottom: 1.5rem;
}
h1 {
  font-size: var(--h1-font-size);
  line-height: 1.25;
}
h2 {
  font-size: var(--h2-font-size);
}
h3 {
  font-size: var(--h3-font-size);
}
.button {
  font-size: var(--buttons-font-size);
  font-weight: 600;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
}
.button.button--primary {
  background-color: var(--prim-pink);
  color: white;
}
.button.button--secondary {
  color: var(--prim-pink);
  background-color: white;
  border: 1px solid var(--prim-pink);
}

/* || navbar styling */
.header {
  position: sticky;
  top: 0;
  padding: 1rem 0;
  background-color: white;
  box-shadow: 0 0 10px 5px var(--border-color);
}
.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 150px;
}
.navbar__ul {
  display: none;
  flex-flow: row nowrap;
  gap: 1.5rem;
}
.navbar__button {
  display: block;
  border: none;
  outline: none;
  background-color: transparent;
}
.navbar__button img {
  width: 20px;
}

/* Hero Section */
.section--hero > div {
  text-align: center;
}
.section--hero {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.section--hero__img {
  display: none;
}
.section--hero__search {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1.5rem;
}
.section--hero__search input[type="search"] {
  width: clamp(280px, calc(100% - 200px), 400px);
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.4rem;
  background: url(../images/icons/search.svg) no-repeat;
  background-position: 10px center;
  background-size: 16px;
  text-indent: 36px;
  padding: 0.5rem 0;
}

.topics {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  gap: 1.5rem;
  margin-top: 2rem;
}
.topics .card {
  width: 100%;
  background-color: white;
  padding: 2.5rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 25px var(--border-color);
}
.topics .card:hover {
  box-shadow: 0 0 10px 10px var(--border-color);
}
.card__icon {
  width: 50px;
  height: 50px;
  background-color: var(--prim-pink);
  padding: 0.75rem;
  border-radius: 0.5rem;
  margin-bottom: 0.75rem;
}

@media screen and (min-width: 576px) {
  :root {
    --h1-font-size: 50px;
    --h2-font-size: 42px;
  }
  .container {
    width: 550px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 88vw;
  }
  .topics .card {
    width: 45%;
  }
}
@media screen and (min-width: 992px) {
  .navbar__button {
    display: none;
  }
  .navbar__ul {
    display: flex;
  }
  .section--hero > div {
    text-align: left;
    width: 66%;
  }
  .section--hero__img {
    display: block;
  }
  .section--hero__search {
    justify-content: left;
  }
}
@media screen and (min-width: 1200px) {
  .section--hero > div {
    width: 50%;
  }
  .topics {
    flex-flow: row nowrap;
    gap: 1.5%;
  }
  .topics .card {
    width: 24%;
  }
}
@media screen and (min-width: 1400px) {
  .topics {
    gap: 2rem;
  }
}
